* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f5;
}
.message_container {
    border-color: #280000;
    border-style: solid;
}

.message_author {
    font-size: 10px;
    margin-bottom: 0px;
    color: #280000;
    font-weight: bold;
}

.sent_message {
    font-size: 12px;
    margin-bottom: 5px;
}

#send_msg_button {
    margin-top: 5px;
    float: right;
    font-size: 10px;
    background-color: #d9534f;
    color: white;
    padding: 5px;
    width: 100%;
}

.input_area {
    margin-top: 2px;
    width: 100%;
    font-size: medium;
}
.username_Display{
    display: grid;
    font-size: 12px;
    color:black;
    font-weight: bold;
}
.incoming-messages {
    margin:10px;
    display:grid;
}
.hidden-incoming {
    display: block;
    color:white;
    font-size: 12px;
}

.visible-incoming {
    display: grid;
    font-size: 12px;
}

input::placeholder,
textarea::placeholder {
    font-size: 10px;
}
.btn{
    background-color: #d9534f;
    color:azure;
}