body{
  font-family:'Roboto', sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f5;
}
header{
  position:fixed;
  padding:15px;
  width: 100%;
  height:30px;
  background:rgb(4, 27, 74);
}
.left_area h3{
  color:#fff;
  margin:0;
  text-transform: capitalize;
  font-size:22px;
  font-weight:700px;
}

#logout_btn{
padding:5px;
margin-top:-25px;
margin-right:40px;
border-radius:2px;
float:right;
}
#logout_btn:hover{
  font-size: 200%;
}
.sidebar{

}