.container{
  max-width:500 !important;
  margin: auto;
  margin-top: 4%;
  font-family: sans-serif;
}
.message_header{
  background-color: black;
  color: azure;
}
.message_body{
    background-color: white;
    color:black;
}
.sent_messages{
    border-radius: 20px;
    border-style: solid;
}
.recieved_messages{
    border-radius: 20px;
    border-style: solid;
    border-color: brown;
}
.message_footer{
  background-color:black;
  color:white;
}
