*{
  font-family:'Roboto', sans-serif;
  line-height: 1.5;
  padding:0px;
  margin:0px;
}
body{
  background-color:#f4f4f4;
}
.container{

}
.message_header{
  background-color: black;
  color: azure;
}
.chatrooms{
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}
.message_body{
    background-color: white;
    color:black;
}
.sent_messages{
    border-radius: 20px;
    border-style: solid;
    width:200px;
}
.recieved_messages{
    border-radius: 20px;
    border-style: solid;
    border-color: brown;
    width:200px;
}
.message_footer{
  background-color:black;
  color:white;
  position:fixed;
  bottom:0;
}
.message_input{
  background-color:beige;
}
.message_input_area{
  background-color:white;
  border-radius: 5px;
}
