* { 
  margin: 0;
  padding: 0; 
}
body{
  margin:0;
  padding:0;
  font-family:'Roboto', sans-serif;

  background-color:#f4f4f5;
}
header{
  position:fixed;
  margin:0px;
  padding:15px;
  width: 100%;
  height:30px;
  background:rgb(4, 27, 74);
  border-bottom: 1px;
  border-color:white;
}
.left_area h3{
  color:white;
  margin:0px;
  text-transform: capitalize;
  font-size:22px;
  font-weight:700px;
}

#logout_btn{
padding:5px;
margin-top:-25px;
margin-right:40px;
border-radius:2px;
float:right;
}
#logout_btn:hover{
  font-size: 100%;
}
.sidebar{
 background:rgb(4, 27, 74);
 margin-top:60px;
 padding-top:30px;
 position:fixed;
 width:250px;
 left:0;
 height: 100%;
}
.sidebar img{
  width: 150px;
  height:150px;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left:40px;
  /*border-radius: 50%;*/
}
.sidebar h4{
  color:#ccc;
  margin-top: 0;
  margin-bottom:20px;
}
.username{
  text-align: center;
}
.username h4{
  color:#ccc;
  margin-top: 0;
  margin-bottom:20px;
}
.input_area{
		position:fixed;
		bottom:0;
    width:100%;
    margin-left:250px;
		height:45px;			/* Height of the footer */
    background:#E0E6F3 ;
}
.input_area #text_box{
  width:600px;
  margin-left:30px;
  height:35px;			/* Height of the footer */
  background:#fff ;
}
#send_msg{
  float:right;
  background-color:black;
}