*{
  font-family:'Roboto', sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  padding:0;
  margin:0;
}
body{
  background-color:#f4f4f5;
}
.container{
  display:flex;
  position:relative;
}
header{
  background-color:black;
}
.container .chatrooms{
position:fixed;
 width:200px;
 height:100%;
 background:#cdcdf5;
}

.container .chatrooms p{
  color :black;
  text-transform: capitalize;
  text-align: center;
  margin-top:20px;
  }
.container .chatrooms img{
  width:auto;
}

.message_header{
  background-color: black;
  color: azure;
}

.container .message_body{
    background-color: black;
    color:white;
    width:100%;
    margin-left:110px;
}
.container .message_body.sent_messages{
    border-radius: 20px;
    border-style: solid;
    width:200px;
    float:right;
}
.container .message_body.recieved_messages{
    border-radius: 20px;
    border-style: solid;
    border-color: brown;
    width:200px;
    float:left;
}
.message_footer{
  background-color:black;
  color:white;
  position:fixed;
  bottom:0;
}
.message_input{
  background-color:beige;
}
.message_input_area{
  background-color:white;
  border-radius: 5px;
}
.container.message_footer{
  background:black;
  position:fixed;
  bottom:0;
  width:80px;
  text-align: center;
  

}
