body{
  font-family:'Roboto', sans-serif;
  line-height: 1.5;
  padding:0px;
  margin:0px;
  background-color:#f4f4f4;
}
.container{

}
.message_header{
  background-color: black;
  color: azure;
}
.chatrooms{
  width: 160px; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}
.message_body{
    background-color: white;
    color:black;
}
.sent_messages{
    border-radius: 20px;
    border-style: solid;
    width:200px;
}
.recieved_messages{
    border-radius: 20px;
    border-style: solid;
    border-color: brown;
    width:200px;
}
.message_footer{
  background-color:black;
  color:white;
  position:fixed;
  bottom:0;
}
.message_input{
  background-color:beige;
}
.message_input_area{
  background-color:white;
  border-radius: 5px;
}
